/* RESET E CLASSI COMUNI  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;

}



.flex{
    display: flex;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

/* PARTE HEADER (BARRA A SINISTRA) */

.header_box {
    width: 250px;
    background-color: black;
    padding: 1.5rem;
    position: fixed;
    height: 100vh;
    font-weight: 700;
    color: #7d7f84;
}

.header_box img {
    object-fit: contain;
    width: 170px;
}

.first_list :last-child{
    margin-bottom: 1.5rem;
}

.header_box li{
    margin-top: 1.5rem;
    list-style: none;
}

.header_box span {
    margin-top: 1rem;
}
.first_list{
    width: 100%;   
    
}

.first_list .row {
align-items: stretch;
color: #7d7f84; 
}

.first_list .row span{
    padding-left: .5rem;
    color: #7d7f84; 
}

.first_list img {
   width: 50px;
   height: 50px;
}
.second_list{
    height: 500px;
    overflow-y: auto;
    color: #7d7f84; 
}

.second_list li{
    color: #7d7f84; 
}

.header_box h3+div {
    padding-top: .5rem;
    color: #7d7f84;
    font-size: 1.2rem; 
}

.fa-plus-square{
    color: #7d7f84; 
    font-size: 3rem;
    padding-right: 1rem;
}

.fa-plus-square + span{
    color:#7d7f84; ;
}



/* PARTE CENTRALE */

.main_box{
    width: 100%;
    background-color: #141922;
    margin: 0;
}

.up_box {
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    height: 80px;
    justify-content: end;
    align-items: center;
    margin: 0;
}

.btn{
    border-width: 2px;
    border-color: #797881;
    background-color: black;
    color: white;
    margin-right: 1.0rem;
    font-size: 1em;
    display: inline-block;
    padding: .7rem 2rem;
    border-radius: 40px;
    width: 300px;   
}


main{
    margin-bottom: 80px;
}


.nav_up{
    justify-content: center;
    text-align: center;
}

.nav_up li{
    display: inline-block;
    list-style: none;
    padding: 1rem;
    color: #7d7f84;
    font-weight: 700;
}

.category{
    margin-top: 1rem;
    margin-left: 250px;
}

.category h2 {
    font-weight: 800;
    margin-left: 1.5rem;
}

.track_box{
    flex-wrap: wrap;
    margin-top: 1.0rem;
}

.track_box img {
    width: 100%;
}

.square {
    width: calc((100% - 18%)/6);
    margin: 1.5%;
    text-align: center;
}

.circle {
    width: calc((100% - 18%)/6);
    margin: 1.5%;
    text-align: center;
    margin-bottom: 10rem;
}

.circle img{
    width: 100%;
    border-radius: 50%;

}

.category span{
    color: #797c80;
    font-weight: 600;
    padding-top: .5rem;
    display: inline-block;
}

.category h2 +span{
    margin-top: .5rem;
    margin-left: 1.5rem;
}

.square h3{
    font-weight: 750;
}



/* FOOTER  */

footer{
    width:100%;
    background-color: #282828;
    position: fixed;
    height: 100px;
    bottom: 0;
    z-index: 2;
    text-align: center;
    justify-content: space-between;
    align-items: flex-start;
}

.track{
    width: 20%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 0 .7rem;
}

.track img{
    width: 35%;
    height: 75px;
    padding: .5rem 0;
}

.track span{
  color: #818181;
}

.track > .row{
    align-items: center;
    width: 65%;
}

.track h5{
    font-size: 1rem;
    padding-left: 15px;
    text-align: left;
}

.track h5 +span{
    font-size: 13px;
    padding-left: 15px;
}
.track .column{
    width: 25%;
    align-items: center;
}

.fa-heart {
    font-size: 1.5rem;
    color: #818181;
}
.fa-folder{
    font-size: 1.5rem;
    color: #818181;
}
.control {
    width: 50%;
    background-color: turquoise;
    height: 100px;

}

.volume{
    width: 20%;
    background-color: turquoise;
    height: 100px;
}

