/* RESET E CLASSI COMUNI  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}

.flex{
    display: flex;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

/* PARTE HEADER (BARRA A SINISTRA) */

.header_box {
    width: 250px;
    background-color: black;
    height: 100vh;
    align-items: flex-start;
    padding: 1.5rem;
}

.header_box img {
    object-fit: contain;
    width: 170px;
}

.first_list :last-child{
    margin-bottom: 1.5rem;

}

.header_box li{
    margin-top: 1.5rem;
    list-style: none;
}

.header_box span {
    margin-top: 1rem;
}
.first_list{
    width: 100%;
}
.second_list{
    width: 100%;
}

.second_list{
    overflow-y: auto;
}







.main_box{
    width: 100%;
}
.up_box {
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    height: 80px;
    justify-content: end;
    align-items: center;
}





a{
    color: white;
    margin-right: 1rem;
    text-decoration: none;
}

main {
    width: 100%;
    background-color: #141922;
}

.square {
    border: solid black;
    width: calc(100% - 250px);
    height: 100px;
    margin: .5rem;
    background-color: chartreuse;

}



/* FOOTER  */


footer{
    width:100%;
    background-color: #282828;
    position: fixed;
    height: 80px;
    bottom: 0;
    z-index: 2;
    text-align: center;
    justify-content: space-between;
    align-items: flex-start;
}

.track{
    width: 100px;
    background-color: turquoise;
    height: 80px;
}
.control {
    width: 100px;
    background-color: turquoise;
    height: 80px;

}

.volume{
    width: 100px;
    background-color: turquoise;
    height: 80px;

}