/* RESET E CLASSI COMUNI  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}

.flex{
    display: flex;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

/* PARTE HEADER (BARRA A SINISTRA) */

.header_box {
    width: 250px;
    background-color: black;
    height: 100vh;
    align-items: flex-start;
    padding: 1.5rem;
}

.header_box img {
    object-fit: contain;
    width: 170px;
}

.first_list :last-child{
    margin-bottom: 1.5rem;

}

.header_box li{
    margin-top: 1.5rem;
    list-style: none;
}

.header_box span {
    margin-top: 1rem;
}


.main_box{
    width: 100%;
}
.up_box {
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    height: 80px;
    justify-content: end;
    align-items: center;
}





a{
    color: white;
    margin-right: 1rem;
    text-decoration: none;
}

main {
    width: 100%;
    background-color: violet;
}

.square {
    border: solid black;
    width: calc(100% - 250px);
    height: 100px;
    margin: .5rem;
    background-color: chartreuse;

}


footer{
    width:100%;
    background-color: crimson;
    position: fixed;
    height: 80px;
    bottom: 0;
    z-index: 5;
    padding: 2rem;
    text-align: center;
    
}