*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
}



.flex{
    display: flex;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
    /* background-color: violet; */
}

header {
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    height: 80px;
    justify-content: end;
    align-items: center;
}

.aside {
    width: 200px;
    background-color: black;
    height: 100vh;
    position: fixed;
}

a{
    color: white;
    margin-right: 1rem;
    text-decoration: none;
}

main {
    width: 100%;
    background-color: violet;
    height: 750px;
}