/* RESET E CLASSI COMUNI  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}

.relative{
    position: relative;
}

.flex{
    display: flex;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

.wrap{ 
    flex-wrap: wrap;

}

/* PARTE HEADER (BARRA A SINISTRA) */

.header_box {
    width: 250px;
    background-color: black;
    padding: 1.5rem;
    height: 100vh;
    font-weight: 700;
    color: #7d7f84;
    /* justify-content: space-between; */
}


.header_box img {
    object-fit: contain;
    width: 150px;
}

.img2{
    width: 50px;
    height: 50px;
    display: none;

}

.first_list ul > :last-child{
    margin-bottom: 1rem;
}

.header_box li{
    margin-top: 1.5rem;
    list-style: none;
}

.header_box li:hover{
    color: white;
    cursor: pointer;
}

.header_box span {
    margin-top: 1rem;
}

.first_list{
    width: 100%;      
}

.first_list .row {
    align-items: stretch;
    color: #7d7f84; 
}

.first_list .row span{
    padding-left: .5rem;
    color: #7d7f84; 
}

.first_list .row span:hover{
    color: white;
    cursor: pointer;
}

.first_list img {
   width: 40px;
   height: 40px;
}

.second_list{
    color: #7d7f84; 
    justify-content: space-between;
    overflow-y: auto;
    margin-bottom: 80px;
    flex-grow: 1;
}

.second_list ul {
    min-height: 170px;
    /* flex-shrink: 1; */
}

.second_list li{
    color: #7d7f84; 
}


.header_box h3+div {
    padding-top: .5rem;
    color: #7d7f84;
    font-size: 1.2rem; 
}

.fa-plus-square{
    color: #7d7f84; 
    font-size: 2.5rem;
    padding-right: 1rem;
}

.fa-plus-square + span{
    color:#7d7f84;
    margin-top: .6rem;
}

.header_box h3+div :hover{
    color: white;
    cursor: pointer;
}

.box_install{
    justify-content: center;  
    background-color: black;
    z-index: 5555555;
    height: 100px;
}

.install{
    width: 95%;
    border-bottom: solid #272727;
    height: 50px;
    padding-bottom: .5rem;
    align-items: center; 
   
}

.install i + div{
    color:#7d7f84;
}

.install i {
   font-size: 1.2rem;
   padding-right: .5rem;
   color:#7d7f84;
}

.install :hover{
    color: white;
    cursor: pointer;
}

.johndoe{
    width: 95%;
    height: 50px;
    align-items: center;
}

.johndoe img{
    width: 1.2rem;
}

.johndoe span{
    padding-left: .5rem;
}



/* PARTE CENTRALE */

.main_box{
    width: 100%;
    background-color: #141922;
    overflow-y: auto;
    height: calc(100vh - 100px);
}



.up_box {
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    height: 80px;
    justify-content: end;
    align-items: center;
    /* padding-left: 250px; */
    padding: 2rem 0;

}


.btn{   
    border-width: 0px;
    border: solid grey;
    border-radius: 40px;
    margin-right: 1.5rem; 
    padding: .7rem 2rem;
  
    background: transparent; 
    color: inherit; 
    font: inherit; 
    line-height: normal; 
}
.btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}



main{
    margin-bottom: 80px;
}


.nav_up{
    justify-content: center;
    text-align: center;
}

.nav_up li:hover{
    color: white;
    cursor: pointer;
}

.nav_up li{
    display: inline-block;
    list-style: none;
    padding: 1rem;
    color: #7d7f84;
    font-weight: 700;
}

.category{
    margin-top: 1rem;    
}

.category h2 {
    font-weight: 800;
    margin-left: 1.5rem;
}

.track_box{
    flex-wrap: wrap;
    margin-top: 1.0rem;
  
}

.track_box img {
    width: 100%;
   
}

.square {
    width: calc((100% - 18%)/6);
    margin: 1.5%;
    text-align: center;   
}


.square .overlay:hover{
    opacity: .3;
}

.circle .overlay:hover{
    opacity: .3;
}

.overlay:hover .test{
    display: block;
  
}

.square img {
    width: 100%;
}

.test{
   display: none;
    width: 100%;
   
}

.test .fa-play-circle {
    position: absolute;
    bottom: 50%;
    left: 50%;
    font-size: 5em;
    transform: translate(-50%, 50%);

}

.circle .fa-play-circle{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 5rem;
}

.circle {
    width: calc((100% - 18%)/6);
    margin: 1.5%;
    text-align: center;
    margin-bottom: 10rem;
}

.circle img{
    width: 100%;
    border-radius: 50%;

}

.category span{
    color: #797c80;
    font-weight: 600;
    padding-top: .5rem;
    display: inline-block;
}

.category h2 +span{
    margin-top: .5rem;
    margin-left: 1.5rem;
}

.square h3{
    font-weight: 750;
}



/* FOOTER  */

footer{
    min-width: 600px;
    width:100%;
    background-color: #282828;
    position: fixed;
    height: 100px;
    bottom: 0;
    z-index: 2;
    text-align: center;
    justify-content: space-between;
    align-items: flex-start;
}

/* TRACKBOX  */

.track{
    width: 250px;
    height: 100px;
    align-items: center;
    padding: 0 .7rem;
}

.track img{
    width: 35%;
    height: 75px;
    padding: .5rem 0;
}

.track span{
  color: #818181;
}

.track span:hover{
    color:white;
    text-decoration:underline;
    cursor: pointer;
}

.track h5{
    cursor: pointer;
}

.track > .row{
    align-items: center;
    width: 65%;
}

.track h5{
    font-size: 1rem;
    padding-left: 15px;
    text-align: left;
}

.track h5 +span{
    font-size: 13px;
    padding-left: 15px;
}
.track .column{
    /* width: 25%; */
    align-items: center;
}

.track .fa-heart:hover{
    color: white;
    cursor: pointer;
}

.track .fa-folder:hover{
    color: white;
    cursor: pointer;
}

.fa-heart {
    font-size: 1.5rem;
    color: #818181;
}
.fa-folder{
    font-size: 1.5rem;
    color: #818181;
}

/* CONTROLBOX */

.control {
    width: 50%;
    /* background-color: turquoise; */
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0;
}


.control_box{
    font-size: 2rem;
    justify-content: center;
    width: 40%;
}

.control_box i{
    padding:0 .5rem;
    font-size: 1.5rem;
    
}

.control_box .fa-play-circle{
    font-size: 2rem;
    margin-top: -.2rem;
}

.control_box i:hover{
transform: scale(1.1);}

.minute_box{
    width: 100%;
    justify-content: space-between;
    font-weight: 700;
    align-items: center;
}

.minute:hover .listened{
    background-color: greenyellow;
    cursor: pointer;
}

.minute:hover .listened div{
    display: block;
}

.minute{
    height: .25rem;
    background-color: #797881;
    width: 85%;
    border-radius: 40px;
    margin: 0 1rem;
}


.listened{
    background-color: #c0c0c0;
    height: .25rem;
    width: 15%;
}

 .minute .listened div {

    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    bottom: 4px;
    left: 110px;
    display: none;
}

.remain{
    background-color: #797881;
    /* flex-grow: 1; */
}

.minute_box > span{
    width: 30px;
}


/* VOLUME SECTION  */
.volume{
        width: 20%;
        height: 100px;
        align-items: center;
        justify-content: center;
        font-weight: 700;
}
.volume i {
    padding-right: 1rem;
}

.speaker {
    height: .25rem;
    width: 50%;
    background-color: #797881;
    border-radius: 40px;
}

.speaker:hover .listened{
    background-color: greenyellow;
    cursor: pointer;
}


.speaker .listened div{
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    bottom: 4px;
    left: 20px;
    display: none;
}   

.speaker:hover .listened div{
    display: block;
}




@media screen and (max-width: 800px) {
    
    .square{   
        width: calc((100% - 18%)/4);

    }

    .circle {
        width: calc((100% - 18%)/4);
        margin: 1.5%;
        text-align: center;
        margin-bottom: 10rem;
    }


 


}

@media screen and (max-width: 600px) {


    .header_box{
        padding: .5rem;
        width: 70px;
        background-color: black;
        height: 100vh;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between;         */
    }

    .second_list {
        justify-content: flex-end;
        flex-grow: 1;
    }

    .second_list ul{
        display: none;
    }

    .header_box h3 {
        display: none;
    }

    .header_box i {
        display: none;
    }

    .header_box span {
        display: none;
    }

    .header_box .img1 {
        display: none;
    }
    .header_box .img2 {
        display: block;
        width: 100%;    
    }
    .header_box .img_home{
        display: block;
        width: 100%;
    }

    .header_box .img_search{
        display: block;
        width: 100%;
    }

    .header_box .img_libreria{
        display: block;
        width: 100%;
    }

    .install div{
        display: none;
    }
    
    .install .fa-arrow-alt-circle-down{
        display: block;
        font-size: 2rem;
        padding-left: .5rem;
    }

    .box_john{
        width: 90%;
        background-color: grey;
        border-radius: 50%;
        overflow: hidden;
    }

    .header_box .img_profile{
        display: block;
        width: 100%;
        padding: .3rem;

    }

    .box_install{
       margin-bottom: 15px;
        top: 15px;
    }

    .square{
        width: calc((100% - 18%)/2);

    }

    .circle {
        width: calc((100% - 18%)/2);
        margin: 1.5%;
        text-align: center;
        margin-bottom: 10rem;
    }
    
}
