*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    display: flex;
    flex-direction: row;


}

.aside {
    width: 250px;
    background-color: black;
    height: 100vh;
    /* position: fixed; */
}



.flex{
    display: flex;
    /* flex-direction: flex-start; */
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
    /* background-color: violet; */
}

header {
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    height: 80px;
    justify-content: end;
    align-items: center;
}


a{
    color: white;
    margin-right: 1rem;
    text-decoration: none;
}

main {
    width: 100%;
    background-color: violet;
    height: 750px;
}

.square {
    border: solid black;
    width: calc(100% - 250px);
    height: 100px;
    margin: .5rem;
    background-color: chartreuse;

}