/* RESET E CLASSI COMUNI  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;

}

.flex{
    display: flex;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

/* PARTE HEADER (BARRA A SINISTRA) */

.header_box {
    width: 250px;
    background-color: black;
    height: 100vh;
    padding: 1.5rem;
    position: fixed;
}

.header_box img {
    object-fit: contain;
    width: 170px;
}

.first_list :last-child{
    margin-bottom: 1.5rem;
}

.header_box li{
    margin-top: 1.5rem;
    list-style: none;
}

.header_box span {
    margin-top: 1rem;
}
.first_list{
    width: 100%;
}
.second_list{
    width: 100%;
}

.second_list{
    overflow-y: auto;
}


/* PARTE CENTRALE */

.main_box{
    width: 100%;
    background-color: #141922;
    margin: 0;
}

.up_box {
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    height: 80px;
    justify-content: end;
    align-items: center;
    margin: 0;
}

main{
    margin-bottom: 80px;
}


.nav_up{
    justify-content: center;
    text-align: center;
}

.nav_up li{
    display: inline-block;
    list-style: none;
    padding: 1rem;
    color: #7d7f84;
    font-weight: 700;
}

.category{
    margin-top: 1rem;
}

.category h2 {
    font-weight: 800;
    margin-left: 1.5rem;
}

.track_box{
    flex-wrap: wrap;
    margin-top: 1.0rem;
}

.track_box img {
    width: 100%;
}

.square {
    width: calc((100% - 18%)/6);
    margin: 1.5%;
    text-align: center;
}

.category span{
    color: #797c80;
    font-weight: 600;
    padding-top: .5rem;
    display: inline-block;
}

.category h2 +span{
    margin-top: .5rem;
    margin-left: 1.5rem;
}

.square h3{
    font-weight: 750;
}










a{
    color: white;
    margin-right: 1rem;
    text-decoration: none;
}


/* FOOTER  */

footer{
    width:100%;
    background-color: #282828;
    position: fixed;
    height: 80px;
    bottom: 0;
    z-index: 2;
    text-align: center;
    justify-content: space-between;
    align-items: flex-start;
}

.track{
    width: 100px;
    background-color: turquoise;
    height: 80px;
}
.control {
    width: 100px;
    background-color: turquoise;
    height: 80px;

}

.volume{
    width: 100px;
    background-color: turquoise;
    height: 80px;

}